<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cookie bakery</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <img src="/images/logo.bmp" alt="logo Cookie Bakery">
    {{{body}}}
    <hr>
    <p>Made by Martha</p>
</body>
</html>