<div class="success">
    <h1>Order confirmed</h1>
    <br>
    <p>Cost: {{pricify sum}} PLN</p>
    <p>Payment method: online</p>
    <p>Shipment in 1-2 working days</p>
    <h2>Thank you for supporting our small business!</h2>
</div>
<br>
{{> go-home}}